<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1861/WebServices.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="ZWS.Service1Soap"
                name="Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>
